.nav {
    grid-area: nav;
    background-color: bisque;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    margin-top: 15px;
}

.nav ul li:last-child{
    margin-top: 30px;
}

.active-link {
    text-decoration: underline;
    font-weight: 700;
}